<!-- Feature Properties For Sale-->
<section class="feature-property-sec">
  <div class="container">
    <div class="section-heading text-center">
      <h2>Featured Properties for Sales</h2>
      <div class="sec-line">
        <span class="sec-line1"></span>
        <span class="sec-line2"></span>
      </div>
      <p>Hand-Picked selection of quality places</p>
    </div>
    <div class="row">

      <!-- Buy grid -->
      <div class="col-lg-4 col-md-6" *ngFor="let property of featuredProperties; let i = index">
        <div class="product-custom">
          <div class="profile-widget">
            <div class="doc-img">
              <div [id]="'propertyImagesCarousel' + property.id" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item" *ngFor="let image of property?.images; let i = index"
                    [class.active]="i === 0">
                    <img [src]="image" class="img-fluid" loading="lazy" class="d-block w-100" alt="Property Image">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button"
                  [attr.data-bs-target]="'#propertyImagesCarousel' + property.id" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button"
                  [attr.data-bs-target]="'#propertyImagesCarousel' + property.id" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <div class="product-amount">
                <span>${{ property.price }}</span>
              </div>
              <div class="feature-rating">
                <div>
                  <div class="featured">
                    <span>Featured</span>
                  </div>
                  <div class="new-featured">
                    <span>New</span>
                  </div>
                </div>
                <a href="javascript:void(0)">
                  <div class="favourite">
                    <span><i class="fa-regular fa-heart"></i></span>
                  </div>
                </a>
              </div>
              <div class="user-avatar">
                <img src="assets/img/profiles/avatar-01.jpg" alt="User">
              </div>
            </div>
            <div class="pro-content">
              <div class="rating">
                <span class="rating-count">
                  <i class="fa-solid fa-star checked"></i>
                  <i class="fa-solid fa-star checked"></i>
                  <i class="fa-solid fa-star checked"></i>
                  <i class="fa-solid fa-star checked"></i>
                  <i class="fa-solid fa-star checked"></i>
                </span>
                <p class="rating-review"><span>5.0</span>(20 Reviews)</p>
              </div>
              <h3 class="title">
                <a (click)="viewDetails(property.id)" tabindex="-1">{{ property.title }}</a>
              </h3>
              <p><i class="feather-map-pin"></i>{{ property.location }}</p>
              <ul class="d-flex details">
                <li>
                  <img src="assets/img/icons/bed-icon.svg" alt="bed-icon">
                  {{ property.beds }} Beds
                </li>
                <li>
                  <img src="assets/img/icons/bath-icon.svg" alt="bath-icon">
                  {{ property.bath }} Baths
                </li>
                <li>
                  <img src="assets/img/icons/building-icon.svg" alt="building-icon">
                  {{ property.area }} Sqft
                </li>
              </ul>

              <ul class="property-category d-flex justify-content-between">
                <li>
                  <span class="list">Listed on : </span>
                  <span class="date">16 Jan 2023</span>
                </li>
                <li>
                  <span class="category list">Category : </span>
                  <span class="category-value date">{{ property.type }}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- /Buy grid -->

      <div class="view-property-btn d-flex justify-content-center" data-aos="fade-down" data-aos-duration="1000">
        <a routerLink="/properties" class="btn-primary">View All Properties</a>
      </div>
    </div>
  </div>
  <div class="bg-imgs">
    <img src="assets/img/bg/price-bg.png" class="bg-01" alt="icon">
    <img src="assets/img/icons/blue-circle.svg" class="bg-02" alt="icon">
    <img src="assets/img/icons/red-circle.svg" class="bg-03" alt="icon">
  </div>
</section>
<!-- /Feature Properties For Sale -->