<div class="container">
  <!-- Header -->
  <header class="log-header">
    <a href="index-2.html"><img class="img-fluid logo-dark" src="assets/img/logo.svg" alt="Logo"></a>
  </header>
  <!-- /Header -->

  <div class="login-wrapper">
    <div class="loginbox">
      <div class="login-auth">
        <div class="login-auth-wrap">
          <h1>Hey There!!! Welcome Back.</h1>
          <form (ngSubmit)="onLogin()">
            <div *ngIf="errorMessage" class="alert alert-danger mt-3">
              {{ errorMessage }}
            </div>
            <div class="form-group">
              <label class="form-label">Email <span>*</span></label>
              <input type="email" [(ngModel)]="email" name="email" class="form-control" required>
              <div *ngIf="!email && submitted" class="text-danger">Email is required</div>
            </div>
            <div class="form-group">
              <label class="form-label">Password <span>*</span></label>
              <div class="pass-group">
                                <input type="password" [(ngModel)]="password" name="password" class="form-control pass-input" required>
                <div *ngIf="!password && submitted" class="text-danger">Password is required</div>
                <span class="fas fa-eye toggle-password"></span>
              </div>
            </div>
            <div class="form-group mb-5">
              <a class="forgot-link" href="/auth/forgot-password">Forgot Password ?</a>
            </div>
            <div class="form-group">
              <label class="custom_check mt-0 mb-0"><span>Remember me</span>
                <input type="checkbox" name="remeber">
                <span class="checkmark"></span>
              </label>
            </div>
            <button type="submit" [disabled]="!email || !password" class="btn btn-primary">Sign In</button>
            <div class="login-or">
              <span class="span-or-log">Or, Sign in with your email</span>
            </div>
            <!-- Social Login -->
            <div class="social-login">
              <a href="#"
                class="d-flex align-items-center justify-content-center form-group btn google-login w-100"><span><img
                    src="assets/img/icons/google.svg" class="img-fluid" alt="Google"></span>Sign in with Google</a>
            </div>
            <div class="social-login">
              <a href="#"
                class="mb-0 d-flex align-items-center justify-content-center form-group btn google-login w-100"><span><img
                    src="assets/img/icons/facebook.svg" class="img-fluid" alt="Facebook"></span>Sign in with
                Facebook</a>
            </div>
            <!-- /Social Login -->
            <div class="text-center dont-have">Don't have an account ? <a href="/auth/register">Sign
                Up</a></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>