<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="components-preview wide-md mx-auto">
                    <div class="nk-block nk-block-lg">
                        <div class="nk-block-head">
                            <div class="nk-block-head-content">
                                <h4 class="nk-block-title">List of Properties</h4>
                                <div class="nk-block-des">
                                    <p>Explore our properties</p>
                                </div>
                            </div>
                        </div>
                        <div class="card card-bordered card-preview">
                            <div class="card-inner">
                                <table class=" table">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Location</th>
                                            <th>Category</th>
                                            <th>Size</th>
                                            <th>Start date</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let property of properties;">
                                            <td>{{ property.title }}</td>
                                            <td>{{ property.location }}</td>
                                            <td>{{ property.type }}</td>
                                            <td>{{ property.area }}</td>
                                            <td>{{ property.created_at | date:'yyyy/MM/dd' }}</td>
                                            <td>
                                                <a class="btn btn-primary btn-sm" [routerLink]="['/admin/property-edit', property.id]">
                                                    <em class="icon ni ni-edit"></em> <span>Edit</span>
                                                </a>
                                                <a class="btn btn-success btn-sm" [routerLink]="['/admin/property-detail', property.id]">
                                                    <em class="icon ni ni-eye"></em> <span>View</span>
                                                </a>
                                                <button class="btn btn-danger btn-sm" (click)="deleteProperty(property.id)">
                                                    <em class="icon ni ni-trash"></em> <span>Delete</span>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
