<!--==================== Start Hero Section =====================-->
<app-hero></app-hero>
<!--==================== End Hero Section =====================-->

<!-- featured property -->
<app-featured-property></app-featured-property>

<!-- end featured property -->
 
<!-- How It Work -->
<section class="howit-work">
    <div class="container">
        <div class="section-heading text-center">
            <h2>How It Works</h2>
            <div class="sec-line">
                <span class="sec-line1"></span>
                <span class="sec-line2"></span>
            </div>
            <p>Follow these 3 steps to book your place</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="howit-work-card" data-aos="fade-down" data-aos-duration="1200" data-aos-delay="100">
                    <div class="work-card-icon">
                        <span>
                            <img src="assets/img/icons/work-icon-1.svg" alt="icon">
                        </span>
                    </div>
                    <h4>01. Search for Location</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis et sem sed
                        sollicitudin. Donec non odio…</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="howit-work-card" data-aos="fade-down" data-aos-duration="1200" data-aos-delay="200">
                    <div class="work-card-icon">
                        <span class="bg-red">
                            <img src="assets/img/icons/work-icon-2.svg" alt="icon">
                        </span>
                    </div>
                    <h4>02. Select Property Type</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis et sem sed
                        sollicitudin. Donec non odio…</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="howit-work-card" data-aos="fade-down" data-aos-duration="1200" data-aos-delay="300">
                    <div class="work-card-icon">
                        <span class="bg-green">
                            <img src="assets/img/icons/work-icon-3.svg" alt="icon">
                        </span>
                    </div>
                    <h4>03. Book Your Property</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis et sem sed
                        sollicitudin. Donec non odio…</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /How It Work -->
 
<!-- Cities List -->
<section class="cities-list-sec">
    <div class="container">
        <div class="section-heading">
            <h2>Cities With Listing</h2>
            <div class="sec-line">
                <span class="sec-line1"></span>
                <span class="sec-line2"></span>
            </div>
            <p>Destinations we love the most</p>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="city-card-slider owl-carousel">
                    <div class="city-first-card" data-aos="fade-down" data-aos-duration="2000">
                        <div class="city-list">
                            <div class="city-img">
                                <img src="assets/img/city/city-1.jpg" alt="City">
                            </div>
                            <div class="city-name">
                                <h5>New York</h5>
                                <p>300 Properties</p>
                            </div>
                            <div class="arrow-overlay">
                                <a href="rent-property-grid.html"><i class='fa-solid fa-arrow-right'></i></a>
                            </div>
                        </div>
                        <div class="city-list">
                            <div class="city-img">
                                <img src="assets/img/city/city-2.jpg" alt="City">
                            </div>
                            <div class="city-name">
                                <h5>Singapore</h5>
                                <p>400 Properties</p>
                            </div>
                            <div class="arrow-overlay">
                                <a href="rent-property-grid.html"><i class='fa-solid fa-arrow-right'></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="city-card-two" data-aos="fade-down" data-aos-duration="2000">
                        <div class="city-list">
                            <div class="city-img">
                                <img src="assets/img/city/city-3.jpg" alt="City">
                            </div>
                            <div class="city-name">
                                <h5>Thailand</h5>
                                <p>200 Properties</p>
                            </div>
                            <div class="arrow-overlay">
                                <a href="rent-property-grid.html"><i class='fa-solid fa-arrow-right'></i></a>
                            </div>
                        </div>
                        <div class="city-list">
                            <div class="city-img">
                                <img src="assets/img/city/city-4.jpg" alt="City">
                            </div>
                            <div class="city-name">
                                <h5>Argentina</h5>
                                <p>740 Properties</p>
                            </div>
                            <div class="arrow-overlay">
                                <a href="rent-property-grid.html"><i class='fa-solid fa-arrow-right'></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="city-card-three" data-aos="fade-down" data-aos-duration="2000">
                        <div class="city-list">
                            <div class="city-img">
                                <img src="assets/img/city/city-5.jpg" alt="City">
                            </div>
                            <div class="city-name">
                                <h5>United Kingdom</h5>
                                <p>1450 Properties</p>
                            </div>
                            <div class="arrow-overlay">
                                <a href="rent-property-grid.html"><i class='fa-solid fa-arrow-right'></i></a>
                            </div>
                        </div>
                        <div class="city-list">
                            <div class="city-img">
                                <img src="assets/img/city/city-1.jpg" alt="City">
                            </div>
                            <div class="city-name">
                                <h5>United Arab Emirates</h5>
                                <p>100 Properties</p>
                            </div>
                            <div class="arrow-overlay">
                                <a href="rent-property-grid.html"><i class='fa-solid fa-arrow-right'></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="city-first-card" data-aos="fade-down" data-aos-duration="2000">
                        <div class="city-list">
                            <div class="city-img">
                                <img src="assets/img/city/city-1.jpg" alt="City">
                            </div>
                            <div class="city-name">
                                <h5>USA</h5>
                                <p>320 Properties</p>
                            </div>
                            <div class="arrow-overlay">
                                <a href="rent-property-grid.html"><i class='fa-solid fa-arrow-right'></i></a>
                            </div>
                        </div>
                        <div class="city-list">
                            <div class="city-img">
                                <img src="assets/img/city/city-2.jpg" alt="City">
                            </div>
                            <div class="city-name">
                                <h5>Singapore</h5>
                                <p>500 Properties</p>
                            </div>
                            <div class="arrow-overlay">
                                <a href="rent-property-grid.html"><i class='fa-solid fa-arrow-right'></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Cities List -->

<!-- Couter -->
<section class="counter-sec">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
                <div class="counter-box flex-fill" data-aos="fade-down" data-aos-duration="2000">
                    <div class="counter-icon">
                        <img src="assets/img/icons/counter-icon-1.svg" alt="icon">
                    </div>
                    <div class="counter-value">
                        <h3 class="dash-count"><span class="counter-up">50</span>K</h3>
                        <h5>Listings Added </h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
                <div class="counter-box flex-fill" data-aos="fade-down" data-aos-duration="2000">
                    <div class="counter-icon">
                        <img src="assets/img/icons/counter-icon-2.svg" alt="icon">
                    </div>
                    <div class="counter-value">
                        <h3 class="dash-count"><span class="counter-up">3000</span>+</h3>
                        <h5>Agents Listed </h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
                <div class="counter-box flex-fill" data-aos="fade-down" data-aos-duration="2000">
                    <div class="counter-icon">
                        <img src="assets/img/icons/counter-icon-3.svg" alt="icon">
                    </div>
                    <div class="counter-value">
                        <h3 class="dash-count"><span class="counter-up">2000</span>+</h3>
                        <h5>Sales Completed </h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 d-flex">
                <div class="counter-box flex-fill" data-aos="fade-down" data-aos-duration="2000">
                    <div class="counter-icon">
                        <img src="assets/img/icons/counter-icon-4.svg" alt="icon">
                    </div>
                    <div class="counter-value">
                        <h3 class="dash-count"><span class="counter-up">5000</span>+</h3>
                        <h5>Users</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Couter -->

<!-- Main Property -->
<section class="main-property-sec">
    <div class="container">
        <div class="main-property-details">
            <div class="row justify-content-center">

                <!-- Buy Property -->
                <div class="col-lg-4 col-md-6" data-aos="fade-down" data-aos-duration="2000">
                    <div class="single-property-card">
                        <div class="img-card">
                            <a href="buy-property-grid.html"><img src="assets/img/city/property-img-1.jpg"
                                    alt="Property Image"></a>
                        </div>
                        <div class="buy-property">
                            <h4><a href="buy-property-grid.html">Buy a Property</a></h4>
                            <a href="buy-property-grid.html" class="arrow buy-arrow"><i
                                    class='fa-solid fa-arrow-right'></i></a>
                        </div>
                    </div>
                </div>
                <!-- /Buy Property -->

                <!-- Sell Property -->
                <div class="col-lg-4 col-md-6" data-aos="fade-down" data-aos-duration="2000">
                    <div class="single-property-card">
                        <div class="img-card">
                            <a href="rent-property-grid.html"><img src="assets/img/city/property-img-2.jpg"
                                    alt="Property Image"></a>
                        </div>
                        <div class="buy-property">
                            <h4><a href="rent-property-gridhtml.html">Sell a Property</a></h4>
                            <a href="rent-property-grid.html" class="arrow sell-arrow"><i
                                    class='fa-solid fa-arrow-right'></i></a>
                        </div>
                    </div>
                </div>
                <!-- /Sell Property -->

                <!-- Rent Property -->
                <div class="col-lg-4 col-md-6" data-aos="fade-down" data-aos-duration="2000">
                    <div class="single-property-card">
                        <div class="img-card">
                            <a href="rent-property-grid.html"><img src="assets/img/city/property-img-3.jpg"
                                    alt="Property Image"></a>
                        </div>
                        <div class="buy-property">
                            <h4><a href="rent-property-grid.html">Rent a Property</a></h4>
                            <a href="rent-property-grid.html" class="arrow rent-arrow"><i
                                    class='fa-solid fa-arrow-right'></i></a>
                        </div>
                    </div>
                </div>
                <!-- /Rent Property -->

            </div>


            <div class="bg-imgs">
                <img src="assets/img/bg/prop-bg.png" class="bg-10" alt="icon">
            </div>
        </div>

        <!-- Partners -->
        <div class="partners-sec">
            <div class="section-heading text-center">
                <h2>Hundreds of Partners Around the World</h2>
                <div class="sec-line">
                    <span class="sec-line1"></span>
                    <span class="sec-line2"></span>
                </div>
                <p> Every day, we build trust through communication, transparency, and results.</p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="partners-slider owl-carousel">
                        <div class="partner-icon">
                            <img src="assets/img/icons/partner-icon-1.svg" alt="Partners">
                        </div>
                        <div class="partner-icon">
                            <img src="assets/img/icons/partner-icon-2.svg" alt="Partners">
                        </div>
                        <div class="partner-icon">
                            <img src="assets/img/icons/partner-icon-3.svg" alt="Partners">
                        </div>
                        <div class="partner-icon">
                            <img src="assets/img/icons/partner-icon-4.svg" alt="Partners">
                        </div>
                        <div class="partner-icon">
                            <img src="assets/img/icons/partner-icon-5.svg" alt="Partners">
                        </div>
                        <div class="partner-icon">
                            <img src="assets/img/icons/partner-icon-6.svg" alt="Partners">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Partners -->

    </div>
    <div class="bg-imgs">
        <img src="assets/img/icons/blue-circle.svg" class="bg-08" alt="icon">
    </div>
</section>
<!-- /Main Property -->

<!-- Pricing -->
<section class="price-section">
    <div class="container">
        <div class="pricing-tab">
            <div class="section-heading">
                <h2>Pricing & Subscriptions</h2>
                <div class="sec-line">
                    <span class="sec-line1"></span>
                    <span class="sec-line2"></span>
                </div>
                <p>Checkout our package, choose your package wisely</p>
            </div>
            <ul class="nav nav-pills" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                        data-bs-target="#monthly-price" type="button" role="tab" aria-controls="monthly-price"
                        aria-selected="true">Monthly</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#yearly-price"
                        type="button" role="tab" aria-controls="yearly-price" aria-selected="false">Yearly</button>
                </li>
            </ul>
        </div>

        <div class="tab-content" id="pills-tabContent">

            <!-- Monthly Price -->
            <div class="tab-pane fade active show" id="monthly-price" role="tabpanel"
                aria-labelledby="pills-profile-tab">
                <div class="row justify-content-center">

                    <!-- Price Item -->
                    <div class="col-lg-4 col-md-6">
                        <div class="price-card aos" data-aos="flip-right" data-aos-easing="ease-out-cubic">
                            <div class="price-title">
                                <h3>Standard</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
                                    ullamcorper mattis, pulvinar dapibus leo.</p>
                            </div>
                            <div class="price-features">
                                <h5>Key Features</h5>
                                <ul>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>10 Listing Per Login</li>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>100+ Users</li>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>Enquiry On Listing</li>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>24 Hrs Support</li>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>Custom Review</li>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>Impact Reporting</li>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>Onboarding & Account</li>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>API Access</li>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>Transaction Tracking</li>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>Branding</li>
                                </ul>
                            </div>
                            <div class="price-btn">
                                <a href="login.html" class="btn-primary">Get Quote</a>
                            </div>
                        </div>
                    </div>
                    <!-- /Price Item -->

                    <!-- Price Item -->
                    <div class="col-lg-4 col-md-6">
                        <div class="price-card" data-aos="flip-right" data-aos-easing="ease-out-cubic"
                            data-aos-duration="1000">
                            <div class="price-sticker">
                                <img src="assets/img/icons/pricing-icon.svg" alt="price-sticker">
                            </div>
                            <div class="price-title">
                                <h3>Professional</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
                                    ullamcorper mattis, pulvinar dapibus leo.</p>
                            </div>
                            <div class="price-features professional">
                                <h5>Key Features</h5>
                                <ul>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>20 Listing Per Login</li>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>100+ Users</li>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>Enquiry On Listing</li>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>24 Hrs Support</li>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>Custom Review</li>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>Impact Reporting</li>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>Onboarding & Account</li>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>API Access</li>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>Transaction Tracking</li>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>Branding</li>
                                </ul>
                            </div>
                            <div class="price-btn">
                                <a href="login.html" class="btn-primary">Get Quote</a>
                            </div>
                        </div>
                    </div>
                    <!-- /Price Item -->

                    <!-- Price Item -->
                    <div class="col-lg-4 col-md-6">
                        <div class="price-card" data-aos="flip-right" data-aos-easing="ease-out-cubic"
                            data-aos-duration="2000">
                            <div class="price-title">
                                <h3>Enterprise</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
                                    ullamcorper mattis, pulvinar dapibus leo.</p>
                            </div>
                            <div class="price-features enterprise">
                                <h5>Key Features</h5>
                                <ul>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>30 Listing Per Login</li>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>100+ Users</li>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>Enquiry On Listing</li>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>24 Hrs Support</li>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>Custom Review</li>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>Impact Reporting</li>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>Onboarding & Account</li>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>API Access</li>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>Transaction Tracking</li>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>Branding</li>
                                </ul>
                            </div>
                            <div class="price-btn">
                                <a href="login.html" class="btn-primary">Get Quote</a>
                            </div>
                        </div>
                    </div>
                    <!-- /Price Item -->

                </div>
            </div>
            <!-- /Monthly Price -->

            <!-- Yearly Price -->
            <div class="tab-pane fade" id="yearly-price" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="row justify-content-center">

                    <!-- Price Item -->
                    <div class="col-lg-4 col-md-6">
                        <div class="price-card">
                            <div class="price-title">
                                <h3>Standard</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
                                    ullamcorper mattis, pulvinar dapibus leo.</p>
                            </div>
                            <div class="price-features">
                                <h5>Key Features</h5>
                                <ul>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>50 Listing per login</li>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>150+ Users</li>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>Enquiry on listing</li>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>24 hrs Support</li>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>Custom Review</li>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>Impact Reporting</li>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>Onboarding & Account</li>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>API Access</li>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>Transaction tracking</li>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>Branding</li>
                                </ul>
                            </div>
                            <div class="price-btn">
                                <a href="login.html" class="btn-primary">Get Quote</a>
                            </div>
                        </div>
                    </div>

                    <!-- Price Item -->
                    <div class="col-lg-4 col-md-6">
                        <div class="price-card">
                            <div class="price-title">
                                <h3>Professional</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
                                    ullamcorper mattis, pulvinar dapibus leo.</p>
                            </div>
                            <div class="price-features professional">
                                <h5>Key Features</h5>
                                <ul>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>80 Listing per login</li>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>200+ Users</li>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>Enquiry on listing</li>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>24 hrs Support</li>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>Custom Review</li>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>Impact Reporting</li>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>Onboarding & Account</li>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>API Access</li>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>Transaction tracking</li>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>Branding</li>
                                </ul>
                            </div>
                            <div class="price-btn">
                                <a href="login.html" class="btn-primary">Get Quote</a>
                            </div>
                        </div>
                    </div>

                    <!-- Price Item -->
                    <div class="col-lg-4 col-md-6">
                        <div class="price-card">
                            <div class="price-title">
                                <h3>Enterprise</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
                                    ullamcorper mattis, pulvinar dapibus leo.</p>
                            </div>
                            <div class="price-features enterprise">
                                <h5>Key Features</h5>
                                <ul>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>70 Listing per login</li>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>300+ Users</li>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>Enquiry on listing</li>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>24 hrs Support</li>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>Custom Review</li>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>Impact Reporting</li>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>Onboarding & Account</li>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>API Access</li>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>Transaction tracking</li>
                                    <li><span><i class="fa-regular fa-square-check"></i></span>Branding</li>
                                </ul>
                            </div>
                            <div class="price-btn">
                                <a href="login.html" class="btn-primary">Get Quote</a>
                            </div>
                        </div>
                    </div>
                    <!-- /Price Item -->

                </div>
            </div>
            <!-- /Yearly Price -->

        </div>
    </div>
    <div class="bg-imgs">
        <img src="assets/img/bg/price-bg.png" class="bg-05" alt="icon">
    </div>
</section>
<!-- /Pricing -->

<!-- Faq -->
<section class="faq-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="faq-img">
                    <img src="assets/img/faq-img.jpg" alt="icon">
                </div>
            </div>
            <div class="col-lg-8">
                <div class="section-heading" data-aos="fade-down" data-aos-duration="2000">
                    <h2>Frequently Asked Questions</h2>
                    <div class="sec-line">
                        <span class="sec-line1"></span>
                        <span class="sec-line2"></span>
                    </div>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                        magni dolores eos qui ratione voluptatem sequi nesciunt</p>
                </div>
                <div class="faq-card" data-aos="fade-down" data-aos-duration="2000">
                    <h4 class="faq-title">
                        <a class="collapsed" data-bs-toggle="collapse" href="#faqone" aria-expanded="false">1. What are
                            the costs to buy a house?</a>
                    </h4>
                    <div id="faqone" class="card-collapse collapse">
                        <div class="faq-info">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s</p>
                        </div>
                    </div>
                </div>
                <div class="faq-card" data-aos="fade-down" data-aos-duration="2000">
                    <h4 class="faq-title">
                        <a class="collapsed" data-bs-toggle="collapse" href="#faqtwo" aria-expanded="false">2. What are
                            the steps to sell a house?</a>
                    </h4>
                    <div id="faqtwo" class="card-collapse collapse">
                        <div class="faq-info">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s</p>
                        </div>
                    </div>
                </div>
                <div class="faq-card" data-aos="fade-down" data-aos-duration="2000">
                    <h4 class="faq-title">
                        <a class="" data-bs-toggle="collapse" href="#faqthree" aria-expanded="false">3. Do you have loan
                            consultants?</a>
                    </h4>
                    <div id="faqthree" class="card-collapse collapse show">
                        <div class="faq-info">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s</p>
                        </div>
                    </div>
                </div>
                <div class="faq-card" data-aos="fade-down" data-aos-duration="2000">
                    <h4 class="faq-title">
                        <a class="collapsed" data-bs-toggle="collapse" href="#faqfour" aria-expanded="false">4. When
                            will the project be completed?</a>
                    </h4>
                    <div id="faqfour" class="card-collapse collapse">
                        <div class="faq-info">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s</p>
                        </div>
                    </div>
                </div>
                <div class="faq-card" data-aos="fade-down" data-aos-duration="2000">
                    <h4 class="faq-title">
                        <a class="collapsed" data-bs-toggle="collapse" href="#faqfive" aria-expanded="false">5.What are
                            the steps to rent a house?</a>
                    </h4>
                    <div id="faqfive" class="card-collapse collapse">
                        <div class="faq-info">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Faq -->

<!-- Agent Register -->
<section class="agent-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8">
                <div class="section-heading" data-aos="fade-down" data-aos-duration="2000">
                    <h2>Become a Real Estate Agent</h2>
                    <div class="sec-line">
                        <span class="sec-line1"></span>
                        <span class="sec-line2"></span>
                    </div>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur
                        magni dolores eos qui ratione voluptatem sequi nesciunt</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="register-btn" data-aos="fade-down" data-aos-duration="2000">
                    <a href="register.html" class="btn-primary">Register Now</a>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-imgs">
        <img src="assets/img/icons/blue-circle.svg" class="bg-06" alt="icon">
        <img src="assets/img/icons/red-circle.svg" class="bg-07" alt="icon">
    </div>
</section>
<!-- /Agent Register -->

<!-- Latest Blog -->
<section class="latest-blog-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="section-heading text-center">
                    <h2>Latest Blog</h2>
                    <div class="sec-line">
                        <span class="sec-line1"></span>
                        <span class="sec-line2"></span>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmodtempor incididunt</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="blog-slider owl-carousel">

                    <!-- Blog -->
                    <div class="blog-card" data-aos="fade-down" data-aos-duration="2000">
                        <div class="blog-img">
                            <a href="blog-details.html"><img src="assets/img/blog/blog-1.jpg" alt="Blog Image"></a>
                        </div>
                        <div class="blog-content">
                            <div class="blog-property">
                                <span>Property</span>
                            </div>
                            <div class="blog-title">
                                <h3><a href="blog-details.html">How to achieve financial independence</a></h3>
                                <p>There are many variations of passages of lorem ipsum available.</p>
                            </div>
                            <ul class="property-category d-flex justify-content-between align-items-center">
                                <li class="user-info">
                                    <a href="javascript:void(0);"><img src="assets/img/profiles/avatar-01.jpg"
                                            class="img-fluid avatar" alt="User"></a>
                                    <div class="user-name">
                                        <h6><a href="javascript:void(0);">Doe John</a></h6>
                                        <p>Posted on : 15 Jan 2023</p>
                                    </div>
                                </li>
                                <li>
                                    <a href="blog-details.html"><span><i class='fa-solid fa-arrow-right'></i></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /Blog -->

                    <!-- Blog -->
                    <div class="blog-card" data-aos="fade-down" data-aos-duration="2000">
                        <div class="blog-img">
                            <a href="blog-details.html"><img src="assets/img/blog/blog-2.jpg" alt="Blog Image"></a>
                        </div>
                        <div class="blog-content">
                            <div class="blog-property">
                                <span>Advantages</span>
                            </div>
                            <div class="blog-title">
                                <h3><a href="blog-details.html">The most popular cities for homebuyers</a></h3>
                                <p>There are many variations of passages of lorem ipsum available.</p>
                            </div>
                            <ul class="property-category d-flex justify-content-between align-items-center">
                                <li class="user-info">
                                    <a href="javascript:void(0);"><img src="assets/img/profiles/avatar-03.jpg"
                                            class="img-fluid avatar" alt="User"></a>
                                    <div class="user-name">
                                        <h6><a href="javascript:void(0);">John</a></h6>
                                        <p>Posted on : 15 Jan 2023</p>
                                    </div>
                                </li>
                                <li>
                                    <a href="blog-details.html"><span><i class='fa-solid fa-arrow-right'></i></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /Blog -->

                    <!-- Blog -->
                    <div class="blog-card" data-aos="fade-down" data-aos-duration="2000">
                        <div class="blog-img">
                            <a href="blog-details.html"><img src="assets/img/blog/blog-3.jpg" alt="Blog Image"></a>
                        </div>
                        <div class="blog-content">
                            <div class="blog-property">
                                <span>Finanace</span>
                            </div>
                            <div class="blog-title">
                                <h3><a href="blog-details.html">Learn how real estate really shapes our future</a></h3>
                                <p>There are many variations of passages of lorem ipsum available.</p>
                            </div>
                            <ul class="property-category d-flex justify-content-between align-items-center">
                                <li class="user-info">
                                    <a href="javascript:void(0);"><img src="assets/img/profiles/avatar-05.jpg"
                                            class="img-fluid avatar" alt="User"></a>
                                    <div class="user-name">
                                        <h6><a href="javascript:void(0);">Eric Krok</a></h6>
                                        <p>Posted on : 15 Jan 2023</p>
                                    </div>
                                </li>
                                <li>
                                    <a href="blog-details.html"><span><i class='fa-solid fa-arrow-right'></i></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /Blog -->

                    <!-- Blog -->
                    <div class="blog-card" data-aos="fade-down" data-aos-duration="2000">
                        <div class="blog-img">
                            <a href="blog-details.html"><img src="assets/img/blog/blog-2.jpg" alt="Blog Image"></a>
                        </div>
                        <div class="blog-content">
                            <div class="blog-property">
                                <span>Property</span>
                            </div>
                            <div class="blog-title">
                                <h3><a href="blog-details.html">The most popular cities for homebuyers</a></h3>
                                <p>There are many variations of passages of lorem ipsum available.</p>
                            </div>
                            <ul class="property-category d-flex justify-content-between align-items-center">
                                <li class="user-info">
                                    <a href="javascript:void(0);"><img src="assets/img/profiles/avatar-07.jpg"
                                            class="img-fluid avatar" alt="User"></a>
                                    <div class="user-name">
                                        <h6><a href="javascript:void(0);">Francis</a></h6>
                                        <p>Posted on : 12 May 2023</p>
                                    </div>
                                </li>
                                <li>
                                    <a href="blog-details.html"><span><i class='fa-solid fa-arrow-right'></i></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /Blog -->

                    <!-- Blog -->
                    <div class="blog-card" data-aos="fade-down" data-aos-duration="2000">
                        <div class="blog-img">
                            <a href="blog-details.html"><img src="assets/img/blog/blog-1.jpg" alt="Blog Image"></a>
                        </div>
                        <div class="blog-content">
                            <div class="blog-property">
                                <span>Property</span>
                            </div>
                            <div class="blog-title">
                                <h3><a href="blog-details.html">How to achieve financial independence</a></h3>
                                <p>There are many variations of passages of lorem ipsum available.</p>
                            </div>
                            <ul class="property-category d-flex justify-content-between align-items-center">
                                <li class="user-info">
                                    <a href="javascript:void(0);"><img src="assets/img/profiles/avatar-03.jpg"
                                            class="img-fluid avatar" alt="User"></a>
                                    <div class="user-name">
                                        <h6><a href="javascript:void(0);">Rafael</a></h6>
                                        <p>Posted on : 13 Jan 2023</p>
                                    </div>
                                </li>
                                <li>
                                    <a href="blog-details.html"><span><i class='fa-solid fa-arrow-right'></i></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /Blog -->

                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Latest Blog -->

<!-- News Letter -->
<section class="news-letter-sec">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="news-heading" data-aos="fade-down" data-aos-duration="2000">
                    <h2>Sign Up for Our Newsletter</h2>
                    <p>Lorem ipsum dolor sit amet, consecte tur cing elit. Suspe ndisse suscipit sagittis</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="email-form" data-aos="fade-down" data-aos-duration="2000">
                    <form action="#">
                        <input type="email" class="form-control" placeholder="Enter Email Address">
                        <button class="btn-primary">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- News Letter -->