<!-- Blog Grid-->
<div class="section blog-section">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-lg-6 col-md-6" *ngFor="let blog of blogs">
        <!-- Blog -->
        <div class="blog-card" data-aos="fade-down" data-aos-duration="2000">
          <div class="blog-img">
            <a (click)="viewDetails(blog.id)"><img [src]="image" alt="Blog Image"></a>
          </div>
          <div class="blog-content">
            <div class="blog-property">
              <span>{{ blog.category }}</span>
            </div>
            <div class="blog-title">
              <h3><a (click)="viewDetails(blog.id)">{{ blog.title }}</a></h3>
              <p>{{ blog.description }}</p>
            </div>
            <ul class="property-category d-flex justify-content-between align-items-center">
              <li class="user-info">
                <a href="javascript:void(0);"><img src="assets/img/profiles/avatar-01.jpg" class="img-fluid avatar"
                    alt="User"></a>
                <div class="user-name">
                  <a href="javascript:void(0);">{{ blog.author_name }}</a>
                  <p>Posted on : {{ blog.created_at }}</p>
                </div>
              </li>
              <li>
                <a (click)="viewDetails(blog.id)"><span><i class='fa-solid fa-arrow-right'></i></span></a>
              </li>
            </ul>
          </div>
        </div>
        <!-- /Blog -->
      </div>
    </div>
  </div>
</div>
<!-- /Blog Grid-->
